.domain-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  div{
    display: inline;
    cursor: pointer;
  }

  span {
    cursor: pointer;
    padding: 4px;
    transition: 0.3s ease;
  }

  span:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.target-container {
  p {
    font-style: italic;
  }
}

.target-title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 0 6px;
}

ul {
  list-style: none;
  padding: 0;

  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    transition: 0.1s ease;
    padding: 4px;

    .task-detail {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      input{
        margin:7px;
      }
    }
  }

  li:hover {
    background-color: rgb(215, 248, 250);
  }
}
