h2 {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 12px 0;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 12px;

}

.domain-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 0 12px;

    @media (max-width:480px) {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
}

.chart-container {
    width: 500px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:480px) {
        width: 100%;
    }

    canvas {
        width: 100% !important;
        height: 100% !important;
    }
}



.period-wise-summary {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 500px;
    align-items: stretch;

    @media (max-width:480px) {
        width: 100%;
    }

    .donut-chart-container {
        display: flex;
        order: 3;
        flex-grow: 3;
        border-top: 1px solid rgba(0, 0, 0, .1);
        padding: 4px;
        justify-content: center;

        canvas {
            width: 150px !important;
            height: 150px !important;
        }
    }
}

h3 {
    text-align: center;
}

ol {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}