<div>
    <h2>Welcome, {{ user?.displayName }}</h2>

    <div class="dashboard-container">

        <div class="domain-summary">

            <h3>Your Activity</h3>

            <div class="chart-container">
                <canvas baseChart [data]="polarChartData" [type]="'polarArea'" [options]="polarChartOptions">
                </canvas>
            </div>
            <br>
            <div>
                <button mat-stroked-button (click)="goToManageDomains()">Add / Edit Domains</button> &nbsp;
                <button mat-stroked-button (click)="goToActivties()">Add / Edit Activity</button>
            </div>
        </div>

        <div class="period-wise-summary-container">
            <h3>Time invested:
                <button mat-icon-button (click)="refreshData()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </h3>

            <div class="period-wise-summary">




                <div>
                    <!-- ✅ Today's Investment -->
                    <div class="donut-chart-container">
                        <span>Today</span>
                        <canvas baseChart [data]="donutChartDataToday" [type]="'doughnut'" [options]="chartOptions"
                            [plugins]="chartPlugins">
                        </canvas>
                    </div>

                    <!-- ✅ Yesterday -->
                    <div class="donut-chart-container">
                        <span>Yesterday</span>
                        <canvas baseChart [data]="donutChartDataLast1Day" [type]="'doughnut'" [options]="chartOptions"
                            [plugins]="chartPlugins">
                        </canvas>
                    </div>
                </div>

                <div>
                    <!-- ✅ Last 7 Days -->
                    <div class="donut-chart-container">
                        <span>
                            < 7 Days</span>
                                <canvas baseChart [data]="donutChartDataLast7Days" [type]="'doughnut'"
                                    [options]="chartOptions" [plugins]="chartPlugins">
                                </canvas>
                    </div>

                    <!-- ✅ Last 30 Days -->
                    <div class="donut-chart-container">
                        <span>
                            < 30 Days</span>
                                <canvas baseChart [data]="donutChartDataLast1Month" [type]="'doughnut'"
                                    [options]="chartOptions" [plugins]="chartPlugins">
                                </canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="domain-list">
        <h3>Your Domain's :</h3>
        <ol>
            <li *ngFor="let domain of domains" (click)="goToDomain(domain)">
                {{ domain.name }} - <span>({{domain.progress}}%)</span>
            </li>
        </ol>
    </div>

    <div class="footer">
        <button mat-stroked-button (click)="logout()">Logout</button>
    </div>
</div>