h2 {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 12px 0;
}

h3 {
    text-align: center;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 12px;

}

.domain-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

    padding: 0 0 12px;

    @media (max-width:480px) {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        width: 100%;
    }
}

.chart-container {
    width: 500px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:480px) {
        width: 100%;
    }

    canvas {
        width: 100% !important;
        height: 100% !important;
    }
}

.period-wise-summary-container {
    width: 50%;

    @media (max-width:480px) {
        width: 100%;
    }
}

.period-wise-summary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;

}

.donut-chart-container {
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 4px;
    text-align: center;

    canvas {
        width: 13em !important;
        height: 13em !important;

        @media (max-width:480px) {
            width: 12em !important;
            height: 12em !important;
        }

        @media (max-width:370px) {
            width: 7em !important;
            height: 7em !important;
        }

    }
}

ol {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.footer {
    margin: 36px 0;
    padding: 12px;
    border-top: 2px solid rgba(0, 0, 100, 0.5);
}